<ion-header>
  <ion-toolbar>
    <ion-title i18n color="primary">
      Find some Examples
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides pager="true" loop="true">
    <ion-slide i18n>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis, dolores laudantium. Fugit perferendis neque dolore nobis aliquid doloremque incidunt voluptatum vero, dolor quia quae et sequi soluta sint minima maiores!
    </ion-slide>
    <ion-slide i18n>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis, dolores laudantium. Fugit perferendis neque dolore nobis aliquid doloremque incidunt voluptatum vero, dolor quia quae et sequi soluta sint minima maiores!
    </ion-slide>
    <ion-slide i18n>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis, dolores laudantium. Fugit perferendis neque dolore nobis aliquid doloremque incidunt voluptatum vero, dolor quia quae et sequi soluta sint minima maiores!
    </ion-slide>
  </ion-slides>
</ion-content>