ion-button{
    display: block;
    width: 99vw;
}

ion-label{
    padding-left: 18px;
    font-size: 15px;
    color: var(--ion-color-medium);
    opacity: 0.8;
}

ion-list{
    padding: 0px 0px 0px 4px;
}

a{
    text-decoration: none;
}