<ion-header>

</ion-header>


<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="localShop">
      <ion-icon name="home" color="success"></ion-icon>
      <ion-label>Shop</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="qrCode">
      <ion-icon name="qr-scanner" color="primary"></ion-icon>
      <ion-label>QR Code</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="geoCatching">
      <ion-icon name="walk"color="tertiary-shade"></ion-icon>
      <ion-label>Géo Maps</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
