
#map_canvas {
    width: 100%;
    height: 100%;
  }
  .map-container
{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  .map
  {
    height: 100%;
    width: 100%;
  }
  .bouttonsGeo{
    justify-content: space-between;
    display:inline-flex ;
  }
.imgMenu{
  display: grid;
  size: auto;

}
}
.avatarProfile {
  width: 100%;

} .followings {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  