<ion-header>
 <ion-toolbar class="padding">
   <ion-title class="ion-text-center">
            Profil
    </ion-title>

      <ion-toggle checked slot="end">
      <ion-icon name="moon" slot="end"></ion-icon>
    </ion-toggle>
    
</ion-toolbar>
<ion-fab vertical="top" horizontal="start" slot="fixed">
      <ion-fab-button>
        <img src="./assets/icon/logoProfile.ico" alt="Profil">
      </ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-fab-button><ion-icon name="log-out" color="danger" (click)="logout()" [routerLink]="['/tabs/login']"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="end">
        <ion-fab-button (click)="addPhoto('library')" color="tertiary"><ion-icon name="image">Bibliothèque</ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>
</ion-header>

<ion-content>
  <!-- <ion-item>
    <ion-label>
      <p>Méthode de connexion</p>
      <h2><b>{{ method }}</b></h2>
    </ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label>
      <p>Identifiant</p>
      <h2><b>{{ userId }}</b></h2>
    </ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label>
      <p>Adresse email</p>
      <h2><b>{{ mail }}</b></h2>
    </ion-label>
  </ion-item>
  
  <div class="ion-padding">
    
  </div> -->
  <div class="header">
    <h2>Elon Musk</h2>
    <div class="space-between">
      <div class="followings">
        <ion-badge color="primary" mode="ios">46</ion-badge>
        <p>Badges</p>
      </div>
      <div class="followings">
        <ion-avatar>
          <img src="./assets/img/a4cdbb2e20df441931275b8acaebd5d0.jpg">
        </ion-avatar>
      </div>
      <div class="followings">
        <ion-badge color="primary" mode="ios">102</ion-badge>
        <p>QR Codes
        </p>
      </div>
    </div>
  </div>

<ion-progress-bar type="indeterminate"></ion-progress-bar>

<!--------------Envoi de l'image function upload---------------------------------------------->
<div>
    <div>
      <img [src]="image" alt="image">
    </div>
    <ion-button expand="block" color="warning" (click)="uploadFirebase()">
      <ion-icon slot="start" name="cloud-upload">Envoyer</ion-icon>
    </ion-button>
</div>
<!--------------Envoi de l'image function upload---------------------------------------------->

<ion-grid color="dark" class="ion-align">
  <ion-row size="2" offset="2">
    <ion-row>
      <ion-button expand="flex" (click)="scheduleNotification()">Shedule</ion-button>
    </ion-row>
    <ion-row>
      <ion-button expand="flex" (click)="recurringNotification()">Every Minute</ion-button>
    </ion-row>
    <ion-row>
      <ion-button expand="flex" (click)="repeatingDaily()">Daily</ion-button>
    </ion-row>
    <ion-row>
      <ion-button expand="flex" (click)="getAll()">Shedule</ion-button>
    </ion-row>
    <ion-row>
      <ion-button expand="flex" (click)="getAll()">Journal de bord</ion-button>
    </ion-row>
    <ion-row>
      <ion-button expand="flex" (click)="getAll()">Evènements</ion-button>
    </ion-row>
  </ion-row>
</ion-grid>

<!-- <ion-list>
  <ion-item *ngFor="let n of scheduled">
    <ion-label text-wrap>
      {{ n.id }} -- {{ n.title }}
      <p>Trigger: {{ n.trigger | json }} </p>
    </ion-label>
  </ion-item>
</ion-list>-->

<ion-grid>
  <ion-row>
    <ion-col class="ion-align-self-start">
      ion-col [start]
    </ion-col>
    <ion-col class="ion-align-self-center">
      ion-col [center]
    </ion-col>
    <ion-col class="ion-align-self-end">
      ion-col [end]
    </ion-col>
    <ion-col>
      ion-col
      <br>#
      <br>#
    </ion-col>
  </ion-row>
</ion-grid>

  <ion-card>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../assets/img/a4cdbb2e20df441931275b8acaebd5d0.jpg" />
      </ion-avatar>
      <ion-label>
        <h2><b>Elon Musk</b></h2>
        <p>Il y a 14 heures</p>
      </ion-label>
    </ion-item>
    
 
    <ion-item lines="none" class="tweet">
      <ion-label text-wrap>Production version will be a lot more polished than this prototype, but still fun to see</ion-label>
    </ion-item>
 </ion-card>
 <ion-card>
  <img class="tweet-img" src="../assets/img/n.jfif">
 </ion-card>
 <ion-card>
  <img class="tweet-img" src="../assets/img/htdx.jfif">
 </ion-card>
 <ion-item lines="none">
  <ion-avatar slot="start">
    <img src="../assets/img/a4cdbb2e20df441931275b8acaebd5d0.jpg" />
  </ion-avatar>
  <ion-label>
    <h2><b>Elon Musk</b></h2>
    <p>Il y a 5 minutes</p>
  </ion-label>
</ion-item>
    <ion-item lines="none" class="tweet">
      <ion-label text-wrap>Le temps est venu, alors changeons le !</ion-label>
    </ion-item>
</ion-content>
