<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
            Profil
    </ion-title>
      <ion-toggle checked slot="end">
      <ion-icon name="moon" slot="end"></ion-icon>
    </ion-toggle> 
  </ion-toolbar>
  <ion-item class="ion-text-center">
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/img/a4cdbb2e20df441931275b8acaebd5d0.jpg">
      </ion-avatar>
      <ion-label>Photo profil</ion-label>
    </ion-item>
    <ion-label>Nb Badges</ion-label>
    <ion-badge slot="end">22</ion-badge>
  </ion-item>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      <p>Méthode de connexion</p>
      <h2><b>{{ method }}</b></h2>
    </ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label>
      <p>Identifiant</p>
      <h2><b>{{ userId }}</b></h2>
    </ion-label>
  </ion-item>
  
  <ion-item>
    <ion-label>
      <p>Adresse email</p>
      <h2><b>{{ mail }}</b></h2>
    </ion-label>
  </ion-item>
  
  <div class="ion-padding">
    <ion-button expand="block" color="danger" (click)="logout()" [routerLink]="['/tabs/login']" >Déconnexion</ion-button>
  </div>
</ion-content>
