<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-header>
  <ion-title>
    Connexion
  </ion-title>
  <ion-item>
    <ion-label>Pseudo</ion-label>
    <ion-input type="text" [(ngModel)]="loginData.email" name="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Mot de passe</ion-label>
      <ion-input type="text" [(ngModel)]="loginData.password" [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>

      <ion-button (click)="login">Connexion
        <ion-icon name="">
        </ion-icon>
      </ion-button>
  <div class="ion-padding">
    <ion-button shape="round" (click)="FacebookLogin()">
      <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Connexion avec Facebook
    </ion-button>
  </div>
  <!-- with name set -->

<!-- or with standalone set to true -->
  
</ion-header>
</ion-content>
