<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button shape="round" (click)="FacebookLogin()">
      <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Connexion avec Facebook
    </ion-button>
  </div>


  <!-- with name set -->
<ion-item>
  <ion-label>Todo</ion-label>
  <ion-input type="text" [(ngModel)]="todo.title" name="title"></ion-input>
</ion-item>

<!-- or with standalone set to true -->
<ion-item>
  <ion-label>Todo</ion-label>
  <ion-input type="text" [(ngModel)]="todo.title" [ngModelOptions]="{standalone: true}"></ion-input>
</ion-item>
  
</ion-content>
