<ion-header>
  <ion-toolbar>
    <ion-title size="large" class="ion-text-center">
      Local Shop
    </ion-title>  
      <!-- <ion-menu side="start" menuId="first">
      <ion-header>
      <ion-toolbar color="primary">
          <ion-title>Start Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
          <ion-item>Menu Item</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu> -->
      <ion-toolbar>
        <ion-searchbar></ion-searchbar>
        <ion-button slot="end">
        <ion-icon slot="icon-only" name="create">
        </ion-icon>
    </ion-button>
      </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--------------------------HEADER Content------------------------------------------------------------->
  <ion-header> 
    <ion-toolbar color="success"> 
      <ion-title class="ion-text-center">
        Acceuil  & Tuto
      </ion-title>
<!--------------------------GRID Notifs------------------------------------------------------------------------------>
      <ion-row>
        <ion-col class="ion-align-self-start" [routerLink]="['/localShop']" routerLinkActive="router-link-active" >
         LocalShop 
        </ion-col>
        <ion-col class="ion-align-self-start" (click)="recurringNotification()">
          Actualités 
        </ion-col>
        <ion-col class="ion-align-self-start" (click)="getAll()">
          Informations
        </ion-col>
        <ion-col class="colNotifs" expand="block" (click)="expression">
          Notifications
        </ion-col>
      </ion-row>
<!--------------------------FIN GRID Notifs---------------------------------------------------------------------------->  
    </ion-toolbar> 
  </ion-header>
<!--------------------------FIN HEADER Content------------------------------------------------------------->
<!---------------------------CONTENT Content------------------------------------------------------------>
    <ion-content class="ion-padding" scroll-y="false" color="dark"> 
<!-------------------------SLIDES PUBS--------------------------------------------------------------------------------->
      <ion-slides> 
        <ion-slide> 
          <ion-grid>
            <ion-row>
              <ion-col size="12" style="background: var(--ion-color-primary);"
                 size>
                    Ok
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" style="background: var(--ion-color-primary);"
                 size>
                    Let's GO !!
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- <ion-card>
            <ion-card-header>
              <ion-item>
                <ion-icon name="pin" slot="start"></ion-icon>
                <ion-label>Aller à la découverte de votre environement</ion-label>
                <ion-button fill="outline" slot="end" routerLink="/tabs/geoCatching">Maps</ion-button>
              </ion-item>
              <ion-img width="90" height="90" src="./assets/img/h.jfif"></ion-img>
            </ion-card-header>
          
            <ion-card-content>
              Maintenant c'est possible d'apprendre en jouant Bonus gagnez des points pour accéder à différentes offres de votre secteur
            </ion-card-content>
          </ion-card>
        </ion-slide> 


        <ion-slide> 
          <ion-card>
            <ion-card-header>
              <ion-item>
                <ion-icon name="pin" slot="start"></ion-icon>
                <ion-label>Scanner directement chez le partenaire pour votre offre </ion-label>
                <ion-button fill="outline" slot="end">View</ion-button>
              </ion-item>
              <ion-img width="90" height="90" src="./assets/img/htdx.jfif"></ion-img>
            </ion-card-header>
          
            <ion-card-content>
              Une fois un certain nombre de QRCode collecter, sur votre profil ce trouverons des badges auquel seront associer à des points, il y aura plus qu'a choisir les commerces Partenaires de l'application
            </ion-card-content>
          </ion-card> -->
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-item>
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-label>Aller à la découverte de votre environement</ion-label>
              <ion-button fill="outline" slot="end" routerLink="/tabs/geoCatching">Maps</ion-button>
              </ion-item>
              <ion-img width="80" height="80" src="./assets/img/undraw_a_day_off_w9ex.png"></ion-img>
          </ion-card-header>
        </ion-card> 

        </ion-slide>
        <ion-slide> 
      <img src="1280px-Ionic_Logo.svg.png"> 
      <h2>Ready to Start?</h2> 
      <ion-button fill="clear" [routerLink]="['/tabs/profile']" routerLinkActive="router-link-active" >Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button> 
        </ion-slide> 
      </ion-slides> 
<!------------1er Slide Content---------------------------------------------->
<!------------2ieme Slide Content----------------------------------------------->
      <ion-slides> 
  <ion-slide> 
    <ion-grid>
      <ion-row>
        <ion-col size="12" style="background: var(--ion-color-primary);"
           size>
              Ok
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" style="background: var(--ion-color-primary);"
           size>
              Let's GO !!
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Aller à la découverte de votre environement</ion-label>
          <ion-button fill="outline" slot="end" routerLink="/tabs/geoCatching">Maps</ion-button>
        </ion-item>
        <ion-img width="90" height="90" src="./assets/img/h.jfif"></ion-img>
      </ion-card-header>
    
      <ion-card-content>
        Maintenant c'est possible d'apprendre en jouant Bonus gagnez des points pour accéder à différentes offres de votre secteur
      </ion-card-content>
    </ion-card>
  </ion-slide> 


  <ion-slide> 
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Scanner directement chez le partenaire pour votre offre </ion-label>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>
        <ion-img width="90" height="90" src="./assets/img/htdx.jfif"></ion-img>
      </ion-card-header>
    
      <ion-card-content>
        Une fois un certain nombre de QRCode collecter, sur votre profil ce trouverons des badges auquel seront associer à des points, il y aura plus qu'a choisir les commerces Partenaires de l'application
      </ion-card-content>
    </ion-card> -->
  </ion-slide>
  <ion-slide>
    <ion-card>
      <ion-card-header>
        <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>Aller à la découverte de votre environement</ion-label>
        <ion-button fill="outline" slot="end" routerLink="/tabs/geoCatching">Maps</ion-button>
        </ion-item>
        <ion-img width="80" height="80" src="./assets/img/undraw_a_day_off_w9ex.png"></ion-img>
    </ion-card-header>
  </ion-card> 

  </ion-slide>
  <ion-slide> 
<img src="1280px-Ionic_Logo.svg.png"> 
<h2>Ready to Start?</h2> 
<ion-button fill="clear" [routerLink]="['/tabs/profile']" routerLinkActive="router-link-active" >Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button> 
  </ion-slide> 
      </ion-slides>
<!------------Fin slide Pubs------------------------------------------------------------------->
<!------------------------------------------------------------------------------->
    </ion-content>


<!---------------------------SLIDE Pub Fixe------------------------------------------------------------>
      <ion-slides>
<!--------------------------------------------------------------------------------------->
        <ion-card>
          <ion-card-header>
<!--------------------------------------------------------------------------------------->
          <ion-item>
            <ion-icon name="card" slot="start"></ion-icon>
          </ion-item>
            <ion-img width="90" height="90" src="./assets/img/htdx.jfif"></ion-img>
          </ion-card-header>
<!--------------------------------------------------------------------------------------->
    <ion-card-content>
     Transformer vos efforts en points, on dit que l'effort paye et bien c'est presque le cas,
      ici la recherche de QRCode vous permet de faire de cette activité ludique
       un moyen de gagner des offres à utilisé chez les partenaires associés
    </ion-card-content>
<!--------------------------------------------------------------------------------------->
        </ion-card>
<!--------------------------------------------------------------------------------------->
        <ion-card>
    <ion-card-subtitle class="ion-text-center">Card Subtitle</ion-card-subtitle>
      <ion-card-title class="padding">Card Title</ion-card-title>
       <ion-card-content>
           Bienvenue à Local Shop, L'application dans lequel vous pourrez faire du Géocatching en s'amusant, le but est de trouver les QRCodes afin de remporter des points. Ces points te donnerons acces à des Badges qui eux te donnerons accé à des offres à utilisé chez nos partenaires locaux ou autres surprises cadeaux.
           Alors qu'est-ce qu'ont attends ?!!
       </ion-card-content>
        </ion-card>
<!--------------------------------------------------------------------------------------->
      </ion-slides>
<!---------------------------FIN Slide Pub Fixe------------------------------------------------------------------------>
<!---------------------------CARD Menu------------------------------------------------------------->
      <ion-card>
    <ion-item href="#" class="activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Tuto</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Géocatching</ion-label>
    </ion-item>
  
    <ion-item class="activated">
      <ion-icon name="qr-scanner" slot="start"></ion-icon>
      <ion-label>QR Code</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon slot="start" name="card"></ion-icon>
      <ion-label>Echange avec partenaires</ion-label>
    </ion-item>
      </ion-card>
<!---------------------------FIN Card Menu------------------------------------------------------------>
</ion-content>
